<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="sidebar">
            <h2>HMS</h2>
            <p>Hospital Management System</p>
                <a href="/" class="i"> <i class="fa-solid fa-house"></i>  Dashboard</a><br><br>
                <a href="/viewpatients" class="i"><i class="fa-solid fa-user"></i> Patient Records</a><br><br>
                <a href="/viewappointments" class="i"><i class="fa-solid fa-calendar"></i> Appointments</a><br><br>
                <a href="" class="i"><i class="fa-solid fa-user-doctor"></i> Doctors</a><br><br>
                <a href="" class="i"><i class="fa-solid fa-file-invoice"></i> Billing</a><br><br>
                 <a href="#"> 
               <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </div>
        <div class="main">
            
                <h1>Admin Dashboard</h1>

        <div class="card">
            <i class="fa-solid fa-users"></i>
            <h2>{{ total_patients }}</h2>
            <p>Total Patients</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-calendar"></i>
            <h2>{{ appointments }}</h2>
            <p>Appointments</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-user-doctor"></i>
            <h2>{{ doctors }}</h2>
            <p>Doctors</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-file-invoice"></i>
            <h2>{{ total_revenue }}</h2>
            <p>Total Revenue</p>
        </div>
            </div>
            <div class="section">
                    <h2>Quick Actions</h2>
                    <div class="actions">
                        <a href="/doctor">
                            <button><h3>Add Doctors</h3></button>
                        </a>
                        
                        <a href="/patient">
                            <button><h3>Add Patients</h3></button>
                        </a>
                   
                        <a href="/appointments">
                            <button><h3>Book Appointments</h3></button>
                        </a>
                        
                        <a href="">
                            <button><h3>Generate Bills</h3></button>
                        </a>

                        <a href="">
                            <button><h3>Hospital Statistics</h3></button>
                        </a>
                    </div>
                </div>
                <div class="section">
                    <h2>Recent Appointments</h2>
                    <a href="">View all Bookings</a>
                    <table>
                        <tr>
                            <th>Patient ID</th>
                            <th>Patient Name</th>
                            <th>Department</th>
                            <th>Doctor ID</th>
                            <th>Date</th>
                            <th>Mode</th>
                            <th>Status</th>
                        </tr>
                        {% for appt in recent_appointments %}
                        <tr>
                            <td>{{ appt['p_id'] }}</td>
                            <td>{{ appt['p_name'] }}</td>
                            <td>{{ appt['d_id'] }}</td>
                            <td>{{ appt['doa'] }}</td>
                            <td>{{ appt['mode'] }}</td>
                            <td>{{ appt['status'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
        </div>
    </div>
</body>
</html>
