<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="main">

    <div class="sidebar">

        <div class="logo">
            <h2>HMS</h2>
            <p>Hospital Management System</p>
        </div>

        <div class="menu">

            <a href="/admin">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>

            <a href="/viewpatients">
                <i class="fa-solid fa-user"></i>
                Patient Records
            </a>

            <a href="/viewappointments">
                <i class="fa-solid fa-calendar"></i>
                Appointments
            </a>

            <a href="#">
                <i class="fa-solid fa-user-doctor"></i>
                Doctors
            </a>

            <a href="#">
                <i class="fa-solid fa-file-invoice"></i>
                Billing
            </a>
            <a href="#"> 
               <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </div>

    </div>
    <div class="content">

        <div class="topbar">
            <h1 class="page-title">Book Appoinments</h1>
            <div class="profile">
                <i class="fa-solid fa-user-circle"></i>
                Admin
            </div>

        </div>

        <div class="card">

            <form action='/appointments' method='POST'>

                <h3>Patient Details</h3>

                <div class="form-row">

                    <div class="form-group">
                        <label>Patient Name:</label>
                        <input type="text" name="p_name" required>
                    </div>

                    <div class="form-group">
                        <label>Patient ID:</label>
                        <input type="number" name="p_id" required>
                    </div>

                    <div class="form-group">
                        <label>Phone Number:</label>
                        <input type="number" name="phone">
                    </div>

                </div>

                <h3>Appointment Details</h3>

                <div class="form-row">

                    <div class="form-group">
                        <label>Department:</label>

                        <select name="department">
                            <option value="">Select Department</option>
                            <option value="General Medicine">General Medicine</option>
                            <option value="Cardiology">Cardiology</option>
                            <option value="Orthopedics">Orthopedics</option>
                            <option value="Pediatrics">Pediatrics</option>
                            <option value="Gynecology">Gynecology</option>
                            <option value="ENT">ENT</option>
                            <option value="Gastroenterology">Gastroenterology</option>
                            <option value="Emergency Medicine">Emergency Medicine</option>
                        </select>

                    </div>

                    <div class="form-group">

                        <label>Available Doctors:</label>

                        <select name="doctor">
                            <option></option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label>Available Doctors (ID):</label>
                        <input type="number" name="d_id" required>
                    </div>
                </div>

                <div class="form-row">

                    <div class="form-group">
                        <label>Appointment Date:</label>
                        <input type="date" name="doa" required>
                    </div>

                    <div class="form-group">
                        <label>Appointment Time Slot:</label>
                        <input type="time" name="time">
                    </div>

                </div>

                <div class="form-group">
                    <label>Symptoms:</label>
                    <textarea rows="5" cols="40" name="symptoms"></textarea>
                </div>

                <div class="form-group">

                    <label>Preferred Consulatation Mode:</label>

                    <select name="mode">
                        <option value="">Select mode</option>
                        <option>Online</option>
                        <option>Offline</option>
                    </select>

                </div>

                <div class="form-group">
                    <label>Status:</label>
                    <select name="status">
                        <option value="">Select Status</option>
                        <option value="Scheduled">Scheduled</option>
                        <option value="Completed">Completed</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>

                <button type="submit" class="btn">
                    Confirm Appointment
                </button>

            </form>

        </div>

    </div>

</div>
</body>
</html>
